@{
    ViewBag.Title = "Project Indicator";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/charts/apexcharts.css">
<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/project.css">
<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/project.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">

<style type="text/css">
    .tblxs {
        margin-bottom: 0px !important;
    }
</style>



<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Manage Performance Metrices</h5>
            </div>
            <!-- Additional info -->
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
            <div class="btn-group">
                @{Html.RenderPartial("_ProjectPlaningPartial", new ViewDataDictionary { { "id", @ViewBag.Id } });}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header border-0">
                Project Details
                <div class="icon bg-gradient-warning text-white rounded-circle icon-shape float-right">
                    <i class="fa fa-tags"></i>
                </div>
            </div>
            <div class="table-responsive">
                <input type="hidden" id="hdnProject" />
                <table class="table mb-0">
                    <thead class="thead-light">
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td><span class="h6 text-sm">Project Name:</span></td>
                            <td><h6 class="mb-0" id="projectName"></h6></td>
                        </tr>
                        <tr>
                            <td><span class="h6 text-sm">Project Owner:</span></td>
                            <td><span class="text-muted" id="client"></span></td>

                        </tr>
                        <tr>
                            <td><span class="h6 text-sm">Start Date:</span></td>
                            <td><span class="text-muted" id="startdate"></span></td>

                        </tr>
                        <tr>
                            <td><span class="h6 text-sm">End Date:</span></td>
                            <td><span class="text-muted" id="enddate"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header border-0">
                Project Finance Details
                <div class="icon bg-gradient-primary text-white rounded-circle icon-shape float-right">
                    <i class="fa fa-credit-card"></i>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>Total Income Budget</td>
                            <td>$1641</td>
                        </tr>
                        <tr>
                            <td>Total Expense Budget</td>
                            <td>$23</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card bg-gradient-warning hover-shadow-lg border-0">
            <div class="card-body py-3">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-12">
                        <div class="media align-items-center">
                            <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                                <img alt="Image placeholder" src="../assets/img/Calender.png">
                            </a>
                            <div class="media-body">
                                <div class="form-group">
                                    <div class="controls">
                                        <select class="btn btn-primary btn-sm dropdown-toggle dropdown-menu-right" id="ddlYear" onchange="RefreshTable();" style="width:100%"></select>
                                    </div>
                                </div>
                                <div>
                                    <span class="text-white">Select Year</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row" style="height:100% !important">
    <div class="col-xl-12 col-md-6" style="height:100% !important">
        <div class="card card-fluid" style="height:100% !important">
            <div class="card-body" style="height:100% !important">
                <!-- data table goes here -->
                <div class="table-responsive">
                    <div style="max-width: 98%; overflow-x: scroll;" class="container">
                        <span class="text-muted" id="client">Add / Manage Performance Metrices</span>


                        <div id="tblInterestincome">
                            <div class="row row-header">
                                <div class="dynamicColumns">
                                </div>
                            </div>
                            <div class="row row-data">
                                <div class="dynamicColumnsInputs tbl-row" style="display: flex;">
                                </div>
                            </div>
                            <div class="row">
                                <div style="display: flex;">
                                    <div class="total-Text">Total  </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">

        <div class="card-body">

            <!-- Buttons -->
            <div class="text-right">
                <a href="#" class="btn btn-link text-sm text-muted font-weight-bold">Cancel</a>
                <button type="button" class="btn btn-sm btn-primary rounded-pill btnSave" id="btnSubmit">Submit</button>
            </div>
        </div>

        @*<div class="text-right">
            <br />
            <button type="button" class="btn btn-success btnSave" id="btnSubmit">Submit <i class="la la-thumbs-o-up position-right"></i></button>
            <button type="reset" class="btn btn-danger">Cancel <i class="la la-refresh position-right"></i></button>
        </div>*@
    </div>
</div>




<script src="~/Content/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>

<script src="~/Content/app-assets/js/scripts/forms/select/form-select2.js"></script>
<script src="~/Scripts/utility/dropdown.js"></script>
<script src="~/Scripts/custom/ProjectIndicator.js"></script>
<script src="~/Scripts/utility/project_details_report.js"></script>
