<div class="row">
    <div class="col-12 col-sm-7">
        <div class="media mb-2">
            @*<a class="mr-1" href="#">*@
                <img src="~/Content/app-assets/images/elements/no-image-icon.png" class="rounded mr-75" alt="profile image" width="64" height="64" id="user_image">
                @*<img src="~/Content/app-assets/images/gallery/9.jpg" alt=" users view avatar" class="users-avatar-shadow rounded-circle" height="64" width="64">*@
            @*</a>*@
            <div class="media-body pt-25" id="divEmpnameCode">
               
            </div>
        </div>
    </div>
    @*<div class="col-12 col-sm-5 px-0 d-flex justify-content-end align-items-center px-1 mb-2">
            <a href="#" class="btn btn-sm mr-25 border"><i class="ft-message-square font-small-3"></i></a>
            <a href="#" class="btn btn-sm mr-25 border">Profile</a>
            <a href="../../../html/ltr/vertical-menu-template/page-users-edit.html" class="btn btn-sm btn-primary">Edit</a>
        </div>*@
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <table class="table table-borderless" id="tblempdetails">
            <tbody>
               
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-4">
    </div>
    <div class="col-12 col-md-4">
        <table class="table table-borderless" id="tbledetails">
            <tbody>
                @*<tr>
                    <td>Department:</td>
                    <td>01/01/2019</td>
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td class="users-view-latest-activity">30/04/2019</td>
                </tr>
                <tr>
                    <td>National ID Number:</td>
                    <td class="users-view-verified">Yes</td>
                </tr>
                <tr>
                    <td>Highest Qualification:</td>
                    <td class="users-view-role">Staff</td>
                </tr>*@
                @*<tr>
                        <td>Status:</td>
                        <td><span class="badge badge-success users-view-status">Active</span></td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>



