<div class="col-lg-12">
    <span id="projectName"></span> <ul class="list-inline mb-0 text-sm-right">
        <li style="font-size:small" class="list-inline-item">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>Start Date - <span id="startdate"></span></span>
            <span>End Date - <span id="enddate"></span></span>
        </li>
    </ul>


    <input type="hidden" value="@ViewBag.Projectid" id="hdnProject" />
    <input type="hidden" id="hdnPhase" />
    <!-- Rating -->
    <!-- Description -->
    <div class="py-4 my-4 border-top border-bottom">
        <h6 class="text-sm">Description:</h6>
        <p class="text-sm mb-0">
            <span id="pDesc"></span>
        </p>

    </div>
</div>