<div class="col-lg-4 order-lg-2">
    <div class="card">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
              
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">Date Of Joining:</a>
                        <p class="mb-0 text-sm" id="ParDoj"></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
             
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">D.O.B:</a>
                        <p class="mb-0 text-sm" id="ParDob"></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
            
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">Email:</a>
                        <p class="mb-0 text-sm" id="ParMail"></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
              
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">Contact Number:</a>
                        <p class="mb-0 text-sm" id="ParCn"></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
              
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">Designation:</a>
                        <p class="mb-0 text-sm" id="ParDesig"></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
               
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">National ID Number:</a>
                        <p class="mb-0 text-sm" id="ParNin"></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
              
                <div class="media">
                    <i class="fa fa-user"></i>
                    <div class="media-body ml-3">
                        <a href="settings.html" class="stretched-link h6 mb-1">Highest Qualification:</a>
                        <p class="mb-0 text-sm" id="ParHq"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>