
<div class="col-lg-9">
    <div class="card">
        <div class="card-body">
            <!-- Product title -->
            <div class="col-lg-12">
                <span id="projectName"></span>
                
                <ul class="list-inline mb-0 text-sm-right">
                    <li style="font-size:small" class="list-inline-item">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span id="startdate"></span>
                        <span id="enddate"></span>
                    </li>
                </ul>
                <input type="hidden" id="hdnProject" /><!-- Rating -->
                <!-- Description -->
                <div class="py-4 my-4 border-top border-bottom">
                    <h6 class="text-sm">Description:</h6>
                    <p class="text-sm mb-0" id="pDesc">
                                          </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6">
    <!-- Stats card -->
    <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h6 class="text-muted mb-1"> Total Expense</h6>
                    <span class="h3 text-primary counter" data-from="0" data-to="34" data-speed="1500" data-refresh-interval="100" id="Expense"></span>
                </div>
                <div class="col-auto">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Project performance -->
    <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h6 class="text-muted mb-1"> Total Income</h6>
                    <span class="h3 text-primary counter" data-from="0" data-to="34" data-speed="1500" data-refresh-interval="100" id="Income"></span>
                </div>
                <div class="col-auto">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>