
    <div class="col-sm-6">
        <!-- Project overview -->
        <div class="card card-fluid">
            <div class="card-header">
                <input type="hidden" id="hdnProject" />
                <h6 class="mb-0"><span id="projectName"></span></h6>
            </div>
            <div class="card-body py-3 flex-grow-1">
                <!-- Progress -->
                <div class="pb-3 mb-3 border-bottom">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- Avatar -->
                            <img alt="Image placeholder" src="../../assets/img/theme/light/brand-avatar-2.png" class="avatar rounded-circle">
                        </div>
                        <div class="col ml-n2">
                            <div class="progress-wrapper">
                                <span class="progress-percentage"><small class="font-weight-bold">Completed: </small>70%</span>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <p class="text-sm mb-0">
                    Purpose Application UI is unique and beautiful collection of elements that are all flexible and modular.
                </p>
            </div>
            <div class="card-footer py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="form-control-label">Private project:</span>
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge badge-success badge-pill" id="client"></span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="form-control-label">Published:</span>
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge badge-danger badge-pill">No</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <small>Start date:</small>
                                <div class="h6 mb-0"><span id="startdate"></span></div>
                            </div>
                            <div class="col-6">
                                <small>End date:</small>
                                <div class="h6 mb-0"><span id="enddate"></span></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
