@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
        new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W24T6W7');
    </script>
    <!-- End Google Tag Manager -->
    <title>GROWTHties Holdings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/login/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/login/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/login/assets/fonts/flaticon/font/flaticon.css">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/img/brand/favicon.ico" type="image/ico">
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/login/assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/login/assets/css/skins/default.css">
</head>
<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W24T6W7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>
    <!-- Login 20 start -->
    <div class="login-20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-12 bg-color-10">
                    <div class="form-section">
                        <div class="logo clearfix">
                            <a href="#">
                                <img src="~/login/assets/img/GtLogo.png" alt="logo">
                            </a>
                        </div>
                        <h3>Sign into your account</h3>
                        <ul class="social-list">
                            <li><a href="#" class="facebook-color"><i class="fa fa-facebook facebook-i"></i><span>Facebook</span></a></li>
                            <li><a href="#" class="twitter-color"><i class="fa fa-twitter twitter-i"></i><span>Twitter</span></a></li>
                            <li><a href="#" class="google-color"><i class="fa fa-google google-i"></i><span>Google</span></a></li>
                        </ul>
                        <div class="extra-login clearfix">
                            <span>Or</span>
                        </div>
                        <div class="login-inner-form">
                            <form action="#" method="post" novalidate>
                                <div class="form-group form-box">
                                    <input type="email" id="txtUid" name="txtUid" class="input-text" placeholder="Email Address">
                                    <i class="flaticon-mail-2"></i>
                                </div>
                                <div class="form-group form-box">
                                    <input type="password" id="txtPwd" name="txtPwd" class="input-text" placeholder="Password">
                                    <i class="flaticon-password"></i>
                                </div>
                                <div class="checkbox clearfix">
                                    <div class="form-check checkbox-theme">
                                        <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">
                                            Remember me
                                        </label>
                                    </div>
                                    <a href="forgot-password-20.html">Forgot Password</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-md btn-theme btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                        <p style="color:red">@ViewBag.Messege </p>
                        <p>Don't have an account? <a href="register-20.html" class="thembo"> Register here</a></p>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-12 bg-img none-992">
                    <div class="info">
                        <h1>Welcome to GrowthTies</h1>
                        <p>WE ARE ALL ABOUT SMME DEVELOPMENT! </p>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <!-- Login 20 end -->
    <!-- External JS libraries -->
    <script src="~/login/assets/js/jquery-2.2.0.min.js"></script>
    <script src="~/login/assets/js/popper.min.js"></script>
    <script src="~/login/assets/js/bootstrap.min.js"></script>
    <!-- Custom JS Script -->
</body>
<!-- Mirrored from theme-vessel-templates.theme-vessel.ey.r.appspot.com/logdy/main/login-20.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Nov 2020 19:58:43 GMT -->
</html>
