
@{
    ViewBag.Title = "AccountingCode";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}



  <!-- Page title -->
<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Create Code</h5>
            </div>
            <!-- Additional info -->
        </div>

    </div>
</div>
<div class="row justify-content-center">

    <div class="col-lg-4 order-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-info"></i>
                            <div class="media-body ml-3">
                                <a class="stretched-link h6 mb-1">Page Information</a>
                                <p class="mb-0 text-sm">This page is intended to add / edit the accounting codes.</p><p> These acounting will be used through out the application to keep track of the finances.</p>                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-credit-card"></i>
                            <div class="media-body ml-3">
                                <a class="stretched-link h6 mb-1">Usage</a>
                                <p class="mb-0 text-sm">Please give us the business usage write up</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="col-lg-8 order-lg-1">
      
        <form id="frmCatmaster">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Create Code</label>
                                <span style="color: red">*</span>
                                <input type="text" class="form-control" id="Code" name="Code" placeholder="Enter Accounting Code">
                                <input type="hidden" id="Id" name="Id" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-control-label">Description</label>
                                    <textarea class="form-control" placeholder="Tell us a few words about yourself" rows="3" name="Description" id="Description"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">

                    <!-- Buttons -->
                    <div class="text-right">
                        <a href="/Home/AccountingCodeList" class="btn btn-link text-sm text-muted font-weight-bold">Cancel</a>
                        <button type="button" class="btn btn-sm btn-primary rounded-pill" id="btnSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Input Validation end -->
<!-- Switch Validation end -->


<script type="text/javascript">
    var URLList = {

        SaveRecord: '@Url.Action("AccountingCode", "ScriptJson")',
        GetEntityMasterById: '@Url.Action("GetGlobalMaster", "ScriptJson")'
    };

    var globalData = {
        TransactionType: 'Select',
        Param: 'AC_Id',
        //paramValue: parseInt(id),
        StoreProcedure: 'AccountingCode_USP'
    };
</script>
<script src="~/Scripts/custom/Accounting_Code.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




