
@{
    ViewBag.Title = "NewForm";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}



<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Account settings</h5>
                </div>
                <!-- Additional info -->
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 order-lg-2">
            <div class="card">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-user"></i>
                            <div class="media-body ml-3">
                                <a href="settings.html" class="stretched-link h6 mb-1">Settings</a>
                                <p class="mb-0 text-sm">Details about your personal information</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="media-body ml-3">
                                <a href="addresses.html" class="stretched-link h6 mb-1">Addresses</a>
                                <p class="mb-0 text-sm">Faster checkout with saved addresses</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-credit-card"></i>
                            <div class="media-body ml-3">
                                <a href="billing.html" class="stretched-link h6 mb-1">Billing</a>
                                <p class="mb-0 text-sm">Speed up your shopping experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-file-invoice"></i>
                            <div class="media-body ml-3">
                                <a href="payment-history.html" class="stretched-link h6 mb-1">Payment history</a>
                                <p class="mb-0 text-sm">See previous orders and invoices</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-bell"></i>
                            <div class="media-body ml-3">
                                <a href="notifications.html" class="stretched-link h6 mb-1">Notifications</a>
                                <p class="mb-0 text-sm">Choose what notification you will receive</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 order-lg-1">
            <!-- Change avatar -->
            <div class="card bg-gradient-warning hover-shadow-lg border-0">
                <div class="card-body py-3">
                    <div class="row row-grid align-items-center">
                        <div class="col-lg-8">
                            <div class="media align-items-center">
                                <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                                    <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg">
                                </a>
                                <div class="media-body">
                                    <h5 class="text-white mb-0">Heather Wright</h5>
                                    <div>
                                        <form>
                                                                                       <label for="file-1">
                                                <span class="text-white">Change avatar</span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto flex-fill mt-4 mt-sm-0 text-sm-right d-none d-lg-block">
                            <a href="#" class="btn btn-sm btn-white rounded-pill btn-icon shadow">
                                <span class="btn-inner--icon"><i class="fa fa-fire"></i></span>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>