
@{
    ViewBag.Title = "QuestionMaster";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}
@{
    string Role = "";
    int? MainId = 0;
    string name = "";
    string logo = "/Content/app-assets/images/elements/no-image-icon.png";
    BOD_DAL.Models.UserModel UserObj;
    BOD_DAL.Models.UserModel UserObjA;
    UserObjA = Session["UserDataModel"] as BOD_DAL.Models.UserModel;
    UserObj = UserObjA;

    if (UserObjA == null)
    {
        BOD_DAL.Models.UserModel UserObjC;
        BOD_DAL.Models.UserModel UserObjE;
        UserObjC = Session["CUserDataModel"] as BOD_DAL.Models.UserModel;
        UserObjE = Session["EUserDataModel"] as BOD_DAL.Models.UserModel;


        if ((UserObjC == null) && (UserObjE == null))
        {
            BOD_DAL.Models.UserModel UserObjSM;
            UserObjSM = Session["SMUserDataModel"] as BOD_DAL.Models.UserModel;
            UserObj = UserObjSM;
            UserObj.Role = "SM";
            logo = UserObjSM.Logo;
            name = UserObjSM.UserName;
            Role = UserObjSM.Role;
            MainId = UserObjSM.UM_MainID;
        }
        else if (UserObjE != null)
        {
            UserObj = UserObjE;
            UserObj.Role = "E";
            logo = UserObjE.Logo;
            name = UserObjE.UserName;
            Role = UserObjE.Role;
            MainId = UserObjE.UM_MainID;
        }
        else
        {
            UserObj = UserObjC;
            UserObj.Role = "C";
            logo = UserObjC.Logo;
            name = UserObjC.UserName;
            Role = UserObjC.Role;
            MainId = UserObjC.UM_MainID;
        }


    }
    else
    {
        Role = UserObj.Role;
    }

    var SessionModule = Session["AuthorisedModuleModel"] as IList<BOD_DAL.Models.AuthorisedModule>;
    var SessionComapny = Session["CompanyModel"];
}


<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Setup Assessment Question</h5>
            </div>
            <!-- Additional info -->
        </div>

    </div>
</div>
<div class="row justify-content-center">


    <div class=" col-lg-4 order-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-user"></i>
                            <div class="media-body ml-3">
                                <a href="settings.html" class="stretched-link h6 mb-1">Settings</a>
                                <p class="mb-0 text-sm">Details about your personal information</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="media-body ml-3">
                                <a href="addresses.html" class="stretched-link h6 mb-1">Addresses</a>
                                <p class="mb-0 text-sm">Faster checkout with saved addresses</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-credit-card"></i>
                            <div class="media-body ml-3">
                                <a href="billing.html" class="stretched-link h6 mb-1">Billing</a>
                                <p class="mb-0 text-sm">Speed up your shopping experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-file-invoice"></i>
                            <div class="media-body ml-3">
                                <a href="payment-history.html" class="stretched-link h6 mb-1">Payment history</a>
                                <p class="mb-0 text-sm">See previous orders and invoices</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-bell"></i>
                            <div class="media-body ml-3">
                                <a href="notifications.html" class="stretched-link h6 mb-1">Notifications</a>
                                <p class="mb-0 text-sm">Choose what notification you will receive</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-8 order-lg-1">
        <!-- Page title -->

        <form id="frmQs">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Assessment Type
                                </label>
                                <span style="color: red">*</span>
                                @*<select name="QC_Id" id="QC_Id" class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="1" tabindex="-1" aria-hidden="true"></select>*@
                                <select class="select2 form-control" name="QC_Id" id="QC_Id"></select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Sector
                                </label>
                                <span style="color: red">*</span>
                                @*<select id="PIM_Id" name="PIM_Id" class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="2" tabindex="-1" aria-hidden="true"></select>*@
                                <select class="select2 form-control" name="PIM_Id" id="PIM_Id"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Answer Type
                                </label>
                                <span style="color: red">*</span>
                                @*<select id="Container" name="Container" class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="3" tabindex="-1" aria-hidden="true">*@
                                <select class="form-control" id="Container" name="Container">
                                    <option value="">Select</option>
                                    <option value="T">TextBox</option>
                                    <option value="R">Yes/No</option>
                                    <option value="U">Upload Document</option>
                                    <option value="D">DropDown</option>
                                    <option value="M">Multiselect</option>
                                </select>
                                @*<input type="hidden" id="DropdownType" name="DropdownType" value="0">*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Show On
                                </label>
                                <span style="color: red">*</span>
                                <input type="hidden" id="ForLogin" name="ForLogin" />
                                @*<select id="IsForLogin" name="IsForLogin" class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="4" tabindex="-1" aria-hidden="true">*@
                                <select class="form-control" id="IsForLogin" name="IsForLogin">
                                    <option value="0">Assessment Tool</option>
                                    <option value="1">During Registration</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Dropdown Type
                                </label>
                                <span style="color: red">*</span>
                                @*<select id="OTM_Id" name="OTM_Id" class="form-control select2-hidden-accessible" data-toggle="select" data-select2-id="1" tabindex="-1" aria-hidden="true"></select>*@
                                <select class="form-control" id="DropdownType" name="DropdownType"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Type Your Question
                                </label>
                                <span style="color: red">*</span>
                                <input type="hidden" id="Id" name="Id" />
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Your Question">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">
                            Choose For
                        </label>
                        <div class="row">
                            @*<div class="col-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" id="ForClient" name="ForClient" />
                                    @if (Role == "A")
                                    {
                                        <input type="checkbox" class="custom-control-input" value="" id="check_group1" name="project-privacy5">
                                    }
                                    else
                                    {
                                       <input type="checkbox" class="custom-control-input" value="" id="check_group1" name="project-privacy5" disabled>
                                    }
                                        <label class="custom-control-label form-control-label text-muted" for="check_group1">For Client</label>
                                    </div>
                            </div>*@

                            @if (Role == "A")
                            {
                                <div class="col-4">
                                    <div class="custom-control custom-checkbox">
                                        <input type="hidden" id="ForClient" name="ForClient" />
                                      
                                            <input type="checkbox" class="custom-control-input" value="" id="check_group1" name="project-privacy5">                                      
                                      
                                        <label class="custom-control-label form-control-label text-muted" for="check_group1">For Client</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-4" style="display: none;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="hidden" id="ForClient" name="ForClient" />

                                        <input type="checkbox" class="custom-control-input" value="" id="check_group1" name="project-privacy5" disabled>

                                        <label class="custom-control-label form-control-label text-muted" for="check_group1">For Client</label>
                                    </div>
                                </div>
                            }




                            <div class="col-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" id="ForSME" name="ForSME" />
                                    @if (Role == "A")
                                    {
                                        <input type="checkbox" class="custom-control-input" value="" id="check_group2" name="project-privacy6" disabled>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-control-input" value="" id="check_group2" name="project-privacy6">
                                    }
                                    <label class="custom-control-label form-control-label text-muted" for="check_group2">For SME</label>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" id="ForEmp" name="ForEmp" />
                                    @if (Role == "A")
                                    {
                                        <input type="checkbox" class="custom-control-input" value="" id="check_group4" name="project-privacy7" disabled>
                                    }
                                    else
                                    {
                                       <input type="checkbox" class="custom-control-input" value="" id="check_group4" name="project-privacy7">
                                    }
                                        <label class="custom-control-label form-control-label text-muted" for="check_group4">For Employee</label>
                                    </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">
                            Required
                        </label>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" id="IsRequired" name="IsRequired" />
                                    <input type="checkbox" class="custom-control-input" value="" name="project-privacy4" id="check_group3">
                                    <label class="custom-control-label form-control-label text-muted" for="check_group3">Is Required</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">

                    <!-- Buttons -->
                    <div class="text-right">
                        <a href="/Home/QuestionMasterList" class="btn btn-link text-sm text-muted font-weight-bold">Cancel</a>
                        <button type="button" class="btn btn-sm btn-primary rounded-pill" id="btnSubmit">Submit</button>
                    </div>
                </div>
            </div>


        </form>
    </div>

</div>
<script type="text/javascript">
    var URLList = {

        SaveRecord: '@Url.Action("QuestionMaster", "ScriptJson")',
        GetEntityMasterById: '@Url.Action("GetGlobalMaster", "ScriptJson")'
    };

    var globalData = {
        TransactionType: 'Select',
        Param: 'QM_Id',
        //paramValue: parseInt(id),
        StoreProcedure: 'QuestionMaster_USP'
    };
</script>
<script src="~/Content/app-assets/js/scripts/forms/select/form-select2.js"></script>
<script src="~/Scripts/custom/Question.js"></script>
<script src="~/Scripts/utility/dropdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

