
@{
    ViewBag.Title = "TrainingList";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}




@{
    string Role = "";
    int? MainId = 0;
    string name = "";
    string logo = "/Content/app-assets/images/elements/no-image-icon.png";
    BOD_DAL.Models.UserModel UserObj;
    BOD_DAL.Models.UserModel UserObjA;
    UserObjA = Session["UserDataModel"] as BOD_DAL.Models.UserModel;
    UserObj = UserObjA;
    if (UserObjA == null)
    {
        BOD_DAL.Models.UserModel UserObjC;
        BOD_DAL.Models.UserModel UserObjE;
        UserObjC = Session["CUserDataModel"] as BOD_DAL.Models.UserModel;
        UserObjE = Session["EUserDataModel"] as BOD_DAL.Models.UserModel;


        if ((UserObjC == null) && (UserObjE == null))
        {
            BOD_DAL.Models.UserModel UserObjSM;
            UserObjSM = Session["SMUserDataModel"] as BOD_DAL.Models.UserModel;
            UserObj = UserObjSM;
            UserObj.Role = "SM";
            logo = UserObjSM.Logo;
            name = UserObjSM.UserName;
            Role = UserObjSM.Role;
            MainId = UserObjSM.UM_MainID;
        }
        else if (UserObjE != null)
        {
            UserObj = UserObjE;
            UserObj.Role = "E";
            logo = UserObjE.Logo;
            name = UserObjE.UserName;
            Role = UserObjE.Role;
            MainId = UserObjE.UM_MainID;
        }
        else
        {
            UserObj = UserObjC;
            UserObj.Role = "C";
            logo = UserObjC.Logo;
            name = UserObjC.UserName;
            Role = UserObjC.Role;
            MainId = UserObjC.UM_MainID;
        }


    }

    var SessionModule = Session["AuthorisedModuleModel"] as IList<BOD_DAL.Models.AuthorisedModule>;
    var SessionComapny = Session["CompanyModel"];
}


<div class="row justify-content-center">
    <div class="col-lg-8">
        <!-- Page title -->
        <div class="page-title">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                    <!-- Page title + Go Back button -->
                    <div class="d-inline-block">
                        <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Upload File</h5>
                    </div>
                    <!-- Additional info -->
                </div>
                @*<div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                    <a href="#modal-users" class="btn btn-sm btn-white btn-icon rounded-pill" data-toggle="modal">
                        <span class="btn-inner--icon"><i class="fa fa-users"></i></span>
                        <span class="btn-inner--text">Add team</span>
                    </a>
                    <a href="#" class="btn btn-sm btn-white rounded-circle btn-icon-only">
                        <span class="btn-inner--icon"><i class="fa fa-cog"></i></span>
                    </a>
                </div>*@
            </div>
        </div>
        <form class="mt-4">

            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label mb-0">
                            Training Document
                        </label>
                        <small class="form-text text-muted mb-2 mt-0">
                            Drag and drop task files
                        </small>

                        <table id="uploadtable" style="width:100%">
                            <tr>
                                <td style="width:90%">
                                    <div class="media-body mt-75">
                                        <div class="form-group">
                                            <input type="file" name="file" id="file" accept=".doc,.pdf,.png,.jpg,.gif,.jpeg,.bmp" class="custom-input-file"  onchange="encodeImgtoBase64(this)">
                                            <label for="file">
                                                <i class="fa fa-upload"></i>
                                                <span>Choose a file…</span>
                                            </label>

                                        </div>                                        
                                    </div>
                                </td>                                
                                <td style="width:10%;padding-left:7px;text-align:center;padding-bottom:10px;">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-icon-only rounded-circle bg-primary-light text-white" onclick="return saveFile()">
                                        <span class="btn-inner--icon"><i class="fa fa-plus" data-toggle="tooltip" title="" data-original-title="Add new Document"></i></span>
                                    </a>
                                    @*<a href="#" class="btn btn-square text-sm" onclick="return saveFile()">
                <span class="dropdown-item"><i class="fa fa-plus fa-2x"></i></span>
                <span class="btn-inner--icon d-block pt-2">&nbsp;</span>
            </a>*@
                                </td>
                            </tr>
                        </table>
                        <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush" id="ulAppened">
                        </ul>

                            @*<div class="dropzone dropzone-multiple" data-toggle="dropzone" data-dropzone-url="http://" data-dropzone-multiple>
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="dropzone-1" multiple>
                                        <label class="custom-file-label" for="customFileUpload">Choose file</label>
                                    </div>
                                </div>
                                <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush" id="ulAppened">
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="avatar">
                                    <img class="rounded" src="" alt="Image placeholder" data-dz-thumbnail>
                                </div>
                            </div>
                            <div class="col">
                                <h6 class="text-sm mb-1" data-dz-name>...</h6>
                                <p class="small text-muted mb-0" data-dz-size></p>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="dropdown-item" data-dz-remove>
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>*@


                    </div>
                    <!-- Divider -->
                    <hr class="mt-5 mb-4">
                    <!-- Buttons -->
                    @if (Role != "E")
                    {
                    <div class="text-right">
                        <a href="#" class="btn btn-link text-sm text-muted font-weight-bold">Cancel</a>
                        <button type="button" class="btn btn-sm btn-primary rounded-pill" id="addUploadbtn">Submit</button>
                    </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>



<script src="~/Scripts/custom/UploadList.js"></script>





