
@{
    ViewBag.Title = "CorpUserProfile";
    //Layout = "~/Views/Shared/_UserProfile.cshtml";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}

@*<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center active" id="account-tab" data-toggle="tab" href="#account" aria-controls="account" role="tab" aria-selected="true">
                            <i class="ft-user mr-25"></i><span class="d-none d-sm-block">Account</span>
                        </a>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                       
                        <div class="media mb-2">
                            <a href="javascript: void(0);" class="pic">
                                <img src="~/Content/app-assets/images/elements/no-image-icon.png" class="rounded mr-75" alt="profile image" width="64" height="64" id="user_image">
                            </a>
                            <div class="media-body">
                                <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                    <label class="btn btn-sm btn-primary ml-50 mb-50 mb-sm-0 cursor-pointer" for="account-upload">Upload new photo</label>
                                    <input type="file" id="account-upload" hidden="" class="profile_pic">

                                </div>
                                <p class="text-muted ml-75 mt-50">
                                    <small>
                                        Allowed JPG, GIF or PNG. Max
                                        size of
                                        500kB
                                    </small>
                                </p>
                            </div>
                        </div>
                        <!-- users edit media object ends -->
                        <!-- users edit account form start -->
                        <form novalidate>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>Corporate Name <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="CorporateName" name="CorporateName" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>Trading Name <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="TradingName" name="TradingName" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>CIPC Registration No <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="CIPC_RegistrationNo" name="CIPC_RegistrationNo" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>VAT No. </h5>
                                        <div class="controls">
                                            <input type="text" id="SARS_VATNo" name="SARS_VATNo" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>Address <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="Address" name="Address" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>Contact Person Name <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="ContactPersonName" name="ContactPersonName" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <h5>Contact Person Email <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="ContactPersonEmail" name="ContactPersonEmail" class="form-control mb-1" data-validation-required-message="This field is required">
                                        </div>

                                    </div>

                                </div>


                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>Zipcode <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="Zipcode" name="Zipcode" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>PostalAddress <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="PostalAddress" name="PostalAddress" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="Id" name="Id" />
                                        <h5>Phone No. <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="PhoneNo" name="PhoneNo" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <h5>Email <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="email" name="Email" id="Email" class="form-control mb-1" required data-validation-required-message="This field is required">
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">

                                        <h5>Industry Name <span class="required">*</span></h5>
                                        <div class="controls">
                                            <select class="select2 form-control" id="IndustryId"></select>
                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <h5>Contact Person Phone <span class="required">*</span></h5>
                                        <div class="controls">
                                            <input type="text" id="ContactPersonPhNo" name="ContactPersonPhNo" class="form-control mb-1" data-validation-required-message="This field is required">
                                        </div>

                                    </div>

                                </div>
                                
                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                    <button type="button" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1" onclick="SaveRecord('P')">
                                        Save
                                        changes
                                    </button>
                                    <button type="reset" class="btn btn-light">Cancel</button>
                                </div>
                            </div>
                        </form>
                        <!-- users edit account form ends -->
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>*@





<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Account</h5>
            </div>
            <!-- Additional info -->
        </div>

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 order-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-user"></i>
                            <div class="media-body ml-3">
                                <a href="settings.html" class="stretched-link h6 mb-1">Settings</a>
                                <p class="mb-0 text-sm">Details about your personal information</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="media-body ml-3">
                                <a href="addresses.html" class="stretched-link h6 mb-1">Addresses</a>
                                <p class="mb-0 text-sm">Faster checkout with saved addresses</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-credit-card"></i>
                            <div class="media-body ml-3">
                                <a href="billing.html" class="stretched-link h6 mb-1">Billing</a>
                                <p class="mb-0 text-sm">Speed up your shopping experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-file-invoice"></i>
                            <div class="media-body ml-3">
                                <a href="payment-history.html" class="stretched-link h6 mb-1">Payment history</a>
                                <p class="mb-0 text-sm">See previous orders and invoices</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="media">
                            <i class="fa fa-bell"></i>
                            <div class="media-body ml-3">
                                <a href="notifications.html" class="stretched-link h6 mb-1">Notifications</a>
                                <p class="mb-0 text-sm">Choose what notification you will receive</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-8 order-lg-1">


    


            <div class="card bg-gradient-warning hover-shadow-lg border-0">
                <div class="card-body py-3">
                    <div class="row row-grid align-items-center">
                        <div class="col-lg-8">
                            <div class="media align-items-center">
                                <a href="#" class="avatar avatar-lg rounded-circle mr-3 pic">
                                    <img alt="Image placeholder" class="pic" src="~/Content/app-assets/images/elements/no-image-icon.png" id="user_image">
                                </a>
                                <div class="media-body">

                                    <div>
                                        <form>
                                            <input type="file" id="account-upload" class="custom-input-file custom-input-file-link" data-multiple-caption="{count} files selected" multiple="">
                                            <label for="account-upload">
                                                <span class="text-white">Change avatar</span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <p class="style: float-right">
                                <small>
                                    Allowed JPG, GIF or PNG. Max
                                    size of
                                    50Kb to 100kB
                                </small>
                            </p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <input type="hidden" id="Id" name="Id" />
                    <!-- General information -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">Corporate Name</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="CorporateName" name="CorporateName" placeholder="Enter Corporate Name">
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">Zipcode</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="Zipcode" name="Zipcode" placeholder="Enter Zipcode">
                             
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">Trading Name</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="TradingName" name="TradingName" placeholder="Enter Trading Name">
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">PostalAddress</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="PostalAddress" name="PostalAddress" placeholder="Enter Postal Address">
                              
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">CIPC Registration Number</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="CIPC_RegistrationNo" name="CIPC_RegistrationNo" placeholder="Enter CIPC Registration Number">
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">Phone Number</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="PhoneNo" name="PhoneNo" placeholder="Enter Phone Number">
                              
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">VAT Number</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="SARS_VATNo" name="SARS_VATNo" placeholder="Enter VAT Number">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">Email</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="email" name="Email" id="Email" placeholder="Enter Email">

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="form-control-label">Address</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="Address" name="Address" placeholder="Enter Address">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="form-control-label">Industry Name</label>
                                <span style="color: red">*</span>
                                <select class="form-control select2-hidden-accessible" id="IndustryId" data-toggle="select" data-select2-id="1" tabindex="-1" aria-hidden="true"></select>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="form-control-label">Contact Person Name</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="ContactPersonName" name="ContactPersonName" placeholder="Enter Contact Person Name">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="form-control-label">Contac tPerson Phon</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="ContactPersonPhNo" name="ContactPersonPhNo" placeholder="Enter Contact Person Phone Number">

                            </div>
                        </div>

                    </div>

                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" name="Id" />
                                <label class="form-control-label">Contact Person Email</label>
                                <span style="color: red">*</span>
                                <input class="form-control" type="text" id="ContactPersonEmail" name="ContactPersonEmail" placeholder="Enter Contact Person Email">

                            </div>
                        </div>
                     

                    </div>


                  

                    <!-- Save changes buttons -->
                    <div class="text-right">

                        <a href="/Project/ProjectList" class="btn btn-link text-muted">Cancel</a>
                        <button type="button" class="btn btn-sm btn-primary rounded-pill" id="btnSubmit" onclick="SaveRecord('P')">Submit</button>

                    </div>
                </div>
            </div>
      
    </div>
</div>


<script type="text/javascript">
    var globalData = {
        TransactionType: 'Select',
        param1: 'CC_Id',
        StoreProcedure: 'CorporateClient_USP'
    };


</script>
<script src="~/Content/app-assets/js/scripts/forms/select/form-select2.js"></script>
<script src="~/Scripts/utility/dropdown.js"></script>
<script src="~/Scripts/custom/CorporateClient.js"></script>